html, body {
	height: 95%;
	width:95%;
}
#CompletePage{
	font-size:62%;
	position:relative;
	height:95%;
	width:95%;
}
#PageHeader
{
	position:relative;
	height:10%;
}
#banner
{
	position:absolute;
	right:0em;
	top:13px;
}
#header
{
	position:absolute;
	left:0em;
	top:0em;
}
#PageMain{
	position:relative;
	height:90%;
}
#PageNavigation {
	position:relative;
	left:0em;
	top:0em;
	width:10%;
	height:80%;
}
#PageContainer {
	position:relative;
	left:10%;
	top:-80%;
	width:90%;
	height:100%;
}
#PageFooter {
	position:relative;
	left:25%;
	bottom:0em;
}
.ui-menu {
	width:100%;
}
.menu .ui-menu {
	border-right-width:1px;
	margin-left:10px;
	margin:0px;
	padding:0px;
}
img {
	border:none;
}

.TDGrey {
	background-color:#F7F7F7;
	font-size:1.5em;
	font-weight:bold;
}
#errors li {
	background:url("images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png") repeat scroll 50% 50% #F3D8D8;
	border:1px solid #CC0000;
	color:#2E2E2E;
}
.stateChangeBackground {
 	background-color:#627b98;
  background-image:none;
}
.stateWhiteBackground {
 	background-color:white;
  background-image:none;
}
.AttributeTable {
 border:0px none;
}
.AttributeTable td {
 border:0px none;
}
#orderAtbpidAtRow td {
	border-bottom:1px solid black;
}
.TRBottomRow {
	border-bottom:1px solid black;
}
.filterBox {
 width:150px;
}
.filterSelect {
 width:153px;
}
.trOdd {
	background:url("<%=ivy.cms.cr("/Content/Shared/Images/RowOddBackground")%>") repeat-x scroll 50% 50% #EEEEEE;
	border:1px solid #D8DCDF;
}
.find {
	background:url("<%=ivy.cms.cr("/Content/Shared/Images/document_find")%>") no-repeat scroll 50% 50% #EEEEEE;
	height:30px;
	width:30px;
}