body, html, td, th, input, textarea, select, p
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00244D;
}

p
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: 1px;
	margin-bottom: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
}

h1
{
	font-size: 20px;
	font-weight: bold;
}

h2
{
	font-size: 16px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

div#CompletePage
{
	border: 1px #00244D solid;
}

div#PageHeader
 {
	margin-bottom: 8px;
	padding-left: 3px;
	padding-right: 3px;
	height: 50px;
}

div#PageHeaderLogo
{
	float:right;
	margin-top: 5px;
	margin-right: 5px;
}

div#PageCaption
 {
	background-color: #00244D;
	color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 3px;
	padding-right: 3px;	
}

div#PageContent
 {
	margin-top: 5px;
	padding-left: 3px;
	padding-right: 3px;
 
}

div#PageFooter
 {
	border-top: 1px #00244D solid;
	padding-top: 2px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 10px;
}

/* ------------------ Form ------------------ */
input, textarea, select
{	
	border: 1px solid #003366;
	font-size: 11px;
}

input.checkbox , input.radiobutton
{
	border: none;

}