.AttributeList {
	list-style-type:none;
	border:0;
	margin:0;
	padding:0;
}

.AttributeListRow {
	list-style-type:none;
	border:0;
	margin:0;
	padding:0;
}

.AttributeListColumns {
	border: 0;
	list-style-type:none;
	margin:0;
	padding:0;
	clear:both;
}
.AttributeListColumns li {
	border: 0;
	list-style-type:none;
	margin:0;
	padding:2px;
	float:left;
}
.ui-menu {
	width:100%;
}
.ui-widget .ui-widget {
	font-size:12px;
}
FORM {
	font-size:12px;
}
.menu .ui-menu {
	border-right-width:1px;
	margin-left:10px;
	margin:0px;
	padding:0px;
}
.PageColumn1 {
	width:17%;
}
.PageColumn2 {
	width:82%;
}
img {
	border:none;
}

/*additional Styles*/
.TDGrey {
	background-color:#F7F7F7;
	font-size:1.3em;
	font-weight:bold;
}
#errors li {
	background:url("images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png") repeat scroll 50% 50% #F3D8D8;
	border:1px solid #CC0000;
	color:#2E2E2E;
}
#pendencyErrors li {
	background:url("images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png") repeat scroll 50% 50% #F3D8D8;
	border:1px solid #CC0000;
	color:#2E2E2E;
}
.stateChangeBackground {
 	background-color:#627b98;
  background-image:none;
}
.stateWhiteBackground {
 	background-color:white;
  background-image:none;
}
.AttributeTable {
 border:0px none;
}
.AttributeTable td {
 border:0px none;
}
#orderAtbpidAtRow td {
	border-bottom:1px solid black;
}
.TRBottomRow {
	border-bottom:1px solid black;
}
.filterBox {
 width:150px;
}
.filterSelect {
 width:153px;
}
.trOdd {
	background:url("<%=ivy.cms.cr("/Content/Shared/Images/RowOddBackground")%>") repeat scroll 50% 50% #EEEEEE;
	border:1px solid #D8DCDF;
}
.find {
	background:url("<%=ivy.cms.cr("/Content/Shared/Images/find")%>") no-repeat scroll 50% 50% #EEEEEE;
	height:48px;
	width:48px;
	cursor:pointer;
}
.filtered {
	background:url("<%=ivy.cms.cr("/Content/Shared/Images/filteredBackground")%>") repeat scroll 50% 50% #EEEEEE;
	border:1px solid #D8DCDF;
}
#buttonGroup {
    margin-bottom: 0;
    margin-top: 10px;
}
#orderAtscanidAtRow TD{
	background-color:#F7F7F7;
	font-size:1.3em;
	font-weight:bold;
}
#orderAtorderidAtRow TD{
	background-color:#F7F7F7;
	font-size:1.3em;
	font-weight:bold;
}
.ui-button .ui-button-text {
    line-height: 14px;
}
.ui-datepicker {
    width: 150px;
}
.ui-datepicker table {
    font-size: 10px;
}
.ui-widget {
    font-size: 12px;
}
.ui-state-default {
	color:black;
}
input.error {
		background-color: #F3D8D8;
    border: 1px solid #CC0000;
    color: #2E2E2E;
}
textarea.error {
		background-color: #F3D8D8;
    border: 1px solid #CC0000;
    color: #2E2E2E;
}
select.error {
		background-color: #F3D8D8;
    border: 1px solid #CC0000;
    color: #2E2E2E;
}
td.error {
		background-color: #F3D8D8;
    border: 1px solid #CC0000;
    color: #2E2E2E;
}

p {
	font-family: Arial;
	font-size: 12px;
}
	
/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical { width: 35em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 6em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0;  }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; font-size:18px;}
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right;width: 26em; }